<a href="https://colab.research.google.com/github/kareemullah123456789/python-loops/blob/main/python_qa_loops_conditionals_more.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Python Q&A Notebook: Loops, Conditionals, and Logical Operators
**Level:** Slightly above easy  
**Format:** Question â†’ Answer with code, line-by-line comments, and sample output

Run cells top-to-bottom. Every answer block is fully commented and prints its result.

## for loop Q1
**Question:** Given a list of integers, print the square of each odd number on one line separated by spaces.

In [ ]:
# Input list
nums = [2, 3, 4, 5, 6, 7]

# We'll gather results in a list of strings to join with spaces
result = []                   # start with an empty list to store stringified squares

for n in nums:                # iterate over each number
    if n % 2 != 0:            # check if 'n' is odd
        square = n * n        # compute the square of the odd number
        result.append(str(square))  # append its string form for joining

# Join all squares with a space and print
print(" ".join(result))       # Expected: 9 25 49

## for loop Q2
**Question:** Create a dictionary that maps each word to its length for the list ['alpha','beta','gamma'] using a for loop.

In [2]:
words = ['alpha', 'beta', 'gamma']
k={}
for i in words:

print(k[i]=len(i)k)

{'alpha': 5, 'beta': 4, 'gamma': 5}

In [4]:
i = 0
l = {}
while i < len(words):
  l[words[i]] = len(words[i])
  i = i + 1
print(l)

{'alpha': 5, 'beta': 4, 'gamma': 5}

In [3]:
len(words)

3

In [ ]:
words = ['alpha', 'beta', 'gamma']

length_map = {}               # start with an empty dictionary
for w in words:               # iterate word by word
    length_map[w] = len(w)    # set key as the word, value as its length

print(length_map)             # Expected: {'alpha': 5, 'beta': 4, 'gamma': 5}

## for loop Q3
**Question:** From numbers 1..20, print the first 5 multiples of 3 you encounter, then stop iterating immediately.

In [ ]:
found = 0                     # counter for how many multiples we've printed

for n in range(1, 21):         # iterate from 1 to 20 inclusive
    if n % 3 == 0:             # if n is a multiple of 3
        print(n, end=" ")      # print on same line with a trailing space
        found += 1             # increment how many we've found
        if found == 5:         # once we've printed 5, break out
            break

print()                        # newline
# Expected: 3 6 9 12 15

## while loop Q1
**Question:** Using a while loop, keep halving a number (integer division) until it becomes 0. Print each intermediate value.

In [5]:
n = 100                 # start from 100

# Continue looping while n is greater than 0
while n > 0:
    print(n, end=" ")         # print current value
    n //= 2                   # integer-division by 2 to halve it

print()                       # newline
# Expected sequence: 100 50 25 12 6 3 1

100 50 25 12 6 3 1

## while loop Q2
**Question:** Given a target sum 30, keep adding consecutive integers starting from 1 until the running total reaches or exceeds the target. Print the final total and the last integer added.

In [8]:
target = 30             # the target sum we want to reach or exceed
total = 0                     # running total starts at 0
i = 1                         # start adding from 1

while total < target:         # loop until total >= target
    total += i                # add i to total
    i += 1
print(i)                 # move to the next integer

# When the loop exits, 'i' is one past the last integer added
last_added = i - 1            # so we subtract 1 to get the last used
print(total, last_added)       # Expected: 36 8  (because 1+2+...+8 = 36)

9
36 8

## while loop Q3
**Question:** Use a while loop to remove and print items from a list until it's empty. Start with ['Q','A','B'].

In [9]:
items = ['Q', 'A', 'B']

# Loop while the list still has items
while items:                  # an empty list is falsy; non-empty is truthy
    x = items.pop(0)          # remove from the front (index 0)
    print(x, items)           # show removed item and the remaining list

# Expected output lines:
# Q ['A', 'B']
# A ['B']
# B []

Q ['A', 'B']
A ['B']
B []

## if statements Q1
**Question:** Check if a given year is a leap year using the rules: divisible by 400 is leap, divisible by 100 is not leap, divisible by 4 is leap.

In [ ]:
year = 2000

# First check the strongest rule (divisible by 400)
if year % 400 == 0:
    print("Leap")
# Then check the 'century but not leap' rule
elif year % 100 == 0:
    print("Not Leap")
# Then check the regular 4-year rule
elif year % 4 == 0:
    print("Leap")
# Otherwise, it's not a leap year
else:
    print("Not Leap")

# Expected: Leap

## if statements Q2
**Question:** Given a score from 0 to 100, print 'A' for 90+, 'B' for 80â€“89, 'C' for 70â€“79, else 'F'.

In [ ]:
score = 83

if score >= 90:                # check for A first
    print('A')
elif score >= 80:              # then B
    print('B')
elif score >= 70:              # then C
    print('C')
else:                          # anything below 70 is F
    print('F')

# Expected: B

## if statements Q3
**Question:** Given two numbers a and b, print the relation: 'a<b', 'a==b', or 'a>b'.

In [ ]:
a, b = 5, 5

if a < b:                      # if a is strictly less than b
    print("a<b")
elif a == b:                   # if a equals b
    print("a==b")
else:                          # otherwise a must be greater than b
    print("a>b")

# Expected: a==b

## logical operators Q1
**Question:** Given three booleans has_id, has_ticket, and sober, allow entry only if the person has ID and ticket and is sober. Print 'Allow' or 'Deny'.

In [ ]:
has_id = True
has_ticket = True
sober = True

# Use 'and' to require all conditions to be true
if has_id and has_ticket and sober:
    print("Allow")
else:
    print("Deny")

# Expected: Allow

## logical operators Q2
**Question:** Given an integer n, print 'Fizz' if n is divisible by 3 or 5 but not both. Otherwise print n.

In [ ]:
n = 15

# Check divisibility by 3 or 5, then exclude the 'both' case
if (n % 3 == 0 or n % 5 == 0) and not (n % 3 == 0 and n % 5 == 0):
    print("Fizz")
else:
    print(n)

# Expected: 15 (because it's divisible by both)

## logical operators Q3
**Question:** Given an age and a guardian flag, print 'Eligible' if age >= 18 or (age >= 16 and has_guardian is True). Otherwise 'Not Eligible'.

In [ ]:
age = 17
has_guardian = True

# Either adult, or 16-17 with a guardian
if age >= 18 or (age >= 16 and has_guardian):
    print("Eligible")
else:
    print("Not Eligible")

# Expected: Eligible

In [13]:
n= 100
count =0
for i in range(n):
  if ((i % 4 == 0) and (i%6 != 0)):
    print(i)
    count +=1
  if count == 6:
    break

4
8
16
20
28
32

## Mixed practice Q1
**Question:** From 1..30, print numbers that are multiples of 4 but not of 6, stop after printing 6 such numbers.

In [ ]:
count = 0

for n in range(1, 31):                    # iterate 1..30
    if (n % 4 == 0) and not (n % 6 == 0): # multiple of 4 but not of 6
        print(n, end=" ")                 # print on one line
        count += 1                        # increment count
        if count == 6:                    # stop after 6 numbers
            break

print()                                   # newline
# Expected: 4 8 16 20 28 (and only 5 exist in 1..30, so it prints 5 and stops at 30)


### Done
You now have worked examples with comments. Change inputs and re-run to test understanding.

## for loop Q4
**Question:** Print the factorial of a given number using a for loop.

In [ ]:
n = 6
fact = 1

for i in range(1, n+1):   # loop from 1 to n
    fact *= i             # multiply running product by i

print(fact)               # Expected: 720

## while loop Q4
**Question:** Using a while loop, reverse the digits of an integer and print it.

In [17]:
num = 12345
rev = 0

while num > 0:
    digit = num % 10       # take last digit
    print("digit:",digit)
    rev = rev * 10 + digit # build reversed number
    print("rev:",rev)
    num =num// 10
    print("num:",num)           # drop the last digit

print(rev)                 # Expected: 54321

digit: 5
rev: 5
num: 1234
digit: 4
rev: 54
num: 123
digit: 3
rev: 543
num: 12
digit: 2
rev: 5432
num: 1
digit: 1
rev: 54321
num: 0
54321

## if statements Q4
**Question:** Check if a number is prime or not using if and a for loop.

In [34]:
n = 3

for i in range(2, int(n)):
  print("i:",i)
  print(f"{n}%{i}")
  if n % i == 0:
    print(f"{n}%{i} , i am divisible by {i}")
    print("number is  not prime")
    break

# Expected: Prime

i: 2
3%2

## logical operators Q4
**Question:** Check if a string is both non-empty and starts with a vowel, print 'Valid' else 'Invalid'.

In [38]:
s = "apple"

# string must not be empty AND first char must be vowel
if s[0].lower() in 'aeiou':
    print("Valid")
else:
    print("Invalid")

# Expected: Valid

Valid

## Mixed practice Q2
**Question:** Find all even numbers between 1 and 50 that are divisible by 7 or 9, print them in a list.

In [ ]:
nums = []

for n in range(2, 51, 2):     # iterate only even numbers
    if n % 7 == 0 or n % 9 == 0:
        nums.append(n)

print(nums)
# Expected: [14, 18, 28, 36, 42]